<hr class="featurette-divider" />
<footer class="container">
  <p class="float-end"><a><img style="height: 30px; width: 30px;" [src]="konumUrl" alt="">ANKARA</a></p>
  <p>
    &copy; 2023 &middot; <a href="https://tr.linkedin.com/in/salih-cetin" target="_blank" class="px-2"> <img style="height: 30px; width: 30px;" [src]="linkedinUrl" alt=""></a> &middot; 
    <a href="https://github.com/selonilo" target="_blank" class="px-2"> <img style="height: 30px; width: 30px;" [src]="gitUrl" alt=""></a> &middot;
    <a href="https://www.instagram.com/selo.1905" target="_blank" class="px-2"> <img style="height: 25px; width: 25px;" [src]="instaUrl" alt=""></a> &middot;
    <a target="_blank" class="px-2"> <img style="height: 25px; width: 25px;" [src]="wpUrl" alt=""></a>
    <b>0 535 621 35 65</b> &middot;
    <a href="mailto:salihcetinteam@gmail.com" target="_blank" class="px-2"> <img style="height: 20px; width: 30px;" [src]="mailUrl" alt=""></a>
    <a href="mailto:salihcetinteam@gmail.com">salihcetinteam@gmail.com</a>
  </p>
</footer>
