<body>
    <main>
        <div class="container">
            <div *ngFor="let image of imageList">
                <div class="row featurette">
                    <img [src]="image" alt="photo">
                </div>
                <hr class="featurette-divider">
            </div>
            <div style="text-align: center;">
                <a href="https://www.youtube.com/watch?v=zCqFjAuPIRg&list=LL&index=7&t=190s">My ShiftDelete Video</a>
            </div>
        </div>
    </main>
</body>